.home-container {
    margin: 80px 128px;

    .text-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .hero-text {
            h1 {
                font-size: 32px;
                font-weight: 700;
            }

            h2 {
                font-size: 24px;
                font-weight: 600;
                color: #20202099;
            }
        }

        .hero-btn {
            button {
                font-weight: 500;
                border: 2px solid #4C54F8;
                border-radius: 12px;
                color: #4C54F8;
                padding: 16px 30px;
                transition: .3s;

                &:hover {
                    color: white;
                    background-color: #4C54F8;
                }
            }
        }
    }

    .group-collections {
        margin-top: 80px;

        .group-card {
            border: 2px solid #4C54F8;
            border-radius: 12px;
            padding: 32px;

            h2 {
                font-size: 30px;
                font-weight: 500;
                margin-top: 16px;
            }

            h3 {
                font-size: 22px;
                font-weight: 400;
                margin-bottom: 26px;
            }
        }
    }

    .for-transparent {
        background-color: rgba(255, 255, 255, 0.726);
    }

    .modal-form {
        width: 380px;
        border: 1px solid #9ED2C3;
        
        h3 {
            font-size: 20px;
            font-weight: 700;
        }

        label {
            color: #AEB7B4;
            font-weight: 700;
            font-size: 18px;
            margin-top: 36px;
            display: block;
        }

        input {
            border: 2px solid #000000;
            border-radius: 12px;
            padding: 12px;
            width: 100%;
            margin-top: 12px;

            &:focus {
                border: 2px solid #0A6AF6;
            }
        }
        

        .modal-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 25px;
            .btn-cancel {
                border: 2px solid black;
                border-radius: 30px;
                padding: 6px 48px;
                font-weight: 600;
                transition: .3s;

                &:hover {
                    border: 2px solid #0A6AF6;
                    background-color: #0A6AF6;
                    color: white;
                }
            }

            .btn-continue {
                border: 2px solid #0A6AF6;
                border-radius: 30px;
                background-color: #0A6AF6;
                color: white;
                padding: 6px 48px;
                font-weight: 600;
                transition: .3s;

                &:hover {
                    border: 2px solid #0754c7;
                    background-color: #0754c7;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .home-container {
        margin: 40px 68px;
    }
}

@media only screen and (max-width: 600px) {
    .home-container {
        margin: 40px 18px;

        .text-container {
            display: inline-block;

            .hero-btn {
                button {
                    margin-top: 30px;
                }
            }
        }
    }
}